*{
    font-family: georgia, ;
}
body{
     background-color: whitesmoke;
}

header{
    font-family: georgia; 
    background-color: lavender;
    text-align: center;
}
#title{
     color:lightslategrey;
}

.recipeBtn, .startBtn{
     background-color: lightslategrey;
     color: white;
     padding: 5px;
     border-radius: 7px;
     height: 39px;
}

#homebtn{
    margin-right: 30px;
}

#calendarbtn{
    margin-left: 30px;
}

#searchbtn, #homebtn, #calendarbtn{
     background-color: lightslategrey;
     color: white;
     padding: 5px;
     border-radius: 7px;
}

#searchinput{
     width: 300px;
}

#searchbtn{
     height: 39px;
}

form{
     text-align: center;
     display: flex;
     justify-content: center;
     margin-top: 25px;
}


.accordion-title{
     font-size: 20px;
}