*{
    font-family: sans-serif;
}



header{
    font-family: georgia; 
    background-color: lavender;
    text-align: center;
}
#title{
     color:lightslategrey;
}

#homebtn{
    margin-right: 30px;
}

#calendarbtn{
    margin-left: 30px;
}

#searchbtn, #homebtn, #calendarbtn{
     background-color: lightslategrey;
     color: white;
     padding: 10px;
}

#searchinput{
     width: 300px;
}

#searchbtn{
     height: 39px;
}

form{
     text-align: center;
     display: flex;
     justify-content: center;
     margin-top: 25px;
}

.callout{
    display: none;
    height: auto;
    width: 500px;
}

.callout img{
    height: auto;
    width: 200px;
}

.button{
    background-color:lightslategrey; 
}
